---
Version: 1
Author: Janani P Srinivasan
date: 2026-09-29
Custom_Environment: true
UVM: false
Cocotb: false
SystemC: false
Directed_Test: true
CRV: true
Formal: false
---
# VERIFICATION PLAN


| Design Name              | uart_tx_fin  |
| ------------------------ | ------------ |
| Design Overview          |              |
| Scope of testbench       |              |
| Verification Strategy    | [ ] Directed |
|                          | [ ] CRV      |
|                          | [ ] Formal   |
| Verification Environment | [ ] UVM      |
|                          | [ ] Cocotb   |
|                          | [ ] SystemC  |
|                          | [ ] Custom   |
| Test Status              |              |
| Date                     |              |

## TEST PLAN

| Test Name | Test ID | Priority | Target Requirment | Pass/Fail Criteria | Observed result |
| --------- | ------- | -------- | ----------------- | ------------------ | --------------- |
|           |         |          |                   |                    |                 |
|           |         |          |                   |                    |                 |
|           |         |          |                   |                    |                 |

## COVERAGE PLAN 

| Code Coverage Target | Functional Coverage Target |
| -------------------- | -------------------------- |
|                      |                            |
|                      |                            |




